<!-- page content -->
        <div class="right_col" role="main" >

        <h1>View Available Stocks</h1>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <label class="text-center" for="Search_by">Search By:</label>
            <div name="Search_Type" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" [(ngModel)]="Search_Type" name="Search_Type" value="item_code"> Item Code
              </label>
              <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" [(ngModel)]="Search_Type" name="Search_Type" value="stock_number"> Stock Number
              </label>
            </div>
          </div>
        </div>

           <div class="table_schedule" >
            <table table class="table table-hover">
              <thead>
                <tr>
                 <th>Stock</th>
                 <th>Item code</th>
                 <th>Name</th>
                 <th>Initial Qty</th>
                 <th>Present Qty</th>
                 <th>UoM</th>
                 <th>Wholesale value</th>
                 <th>Unit Price</th>
                 <th>Stock status</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let stock of stocks ; let i = index">
                  <td>{{stock.PublicStockID}}</td>
                  <td>{{stock.PublicItemCode}}</td>
                  <td>{{stock.ItemName}}</td>
                  <td>{{stock.InitQty}}</td>
                  <td>{{stock.PresentQty}}</td>
                  <td>{{stock.UoM}}</td>
                  <td>{{stock.WholeSaleValue}}</td>
                  <td>{{stock.UnitPrice}}</td>
                  <td>{{stock.StockStatus}}</td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-warning" data-toggle="modal" data-target="#myModalUpdate"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-danger" (click)="onClickDelete(i)"><i class="fa fa-trash"></i></button>
                    </div>
                  </td>
               </tr>
             </tbody>
           </table>
           <div class="col-md-6 col-sm-6 col-xs-12">
              <a href="stocks/issue"><button class="btn btn-primary">Issue Goods</button></a>
              <a href="../trans-out-stock/trans-out-stock.component.html"><button class="btn btn-primary">Transfer Stock</button></a>
              <button name="set_RecountStock" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Set as Recount Stock</button>
              <a href="../delete-stock/delete-stock.component.html"><button class="btn btn-danger">Delete Stock</button></a>   
            </div>
         </div> 
            </div>
        <!-- /page content -->

          <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Status Update</h4>
        </div>
        <div class="modal-body">
          <p>Status updated to Recount</p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<!--/Modal content-->

          <!-- Modal -->
  <div class="modal fade" id="myModalUpdate" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Stock Details</h4>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td>Public Stock ID</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Item Code</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Name</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Initial Qty</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Present Qty</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>UoM</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>WholeSale Value</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Unit Price</td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td>Stock Status</td>
              <td><input type="text"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<!--/Modal content-->