<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Create Loyalty Program</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">

                    <div class="x_content">

                        <div class="row">
                            <form>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" id="lpname">
                                </div>
                                <div class="form-group">
                                    <label>Loyalty Card Type:</label>
                                    <select class="form-control" id="lcard">
                                        <option>Platinum</option>
                                        <option>Gold</option>
                                        <option>Silver</option>
                                        <option>Bronze</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Description:</label>
                                    <textarea class="form-control" rows="4" id="lpdescription"></textarea>
                                </div>
                                <div>
                                    <label>Product Inclusion: </label>
                                    <input type="text"  class="form-control" id="pinclusion">
                                </div>
                                <div>
                                    <label>Unit Currency Amount: </label>
                                    <input type="number"  class="form-control" id="capoint">
                                </div>
                            </form>
                            <br />
                            <div>
                                <label>Customer will be awarded <mark>1</mark> Points For every Purchase Of <mark>100</mark>/=</label>  
                            </div>
                            <br />
                            <div>
                                <button type="button" class="btn btn-primary">Create</button>
                                 <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn">Reset</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->