        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Supplier Management</h3>
              </div>

              
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add Supplier<small></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplier-id">Supplier ID <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="supplier-id" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Telephone" class="control-label col-md-3 col-sm-3 col-xs-12">Telephone</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Telephone" class="form-control col-md-7 col-xs-12" type="text" name="Telephone">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for=e-mail class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="e-mail" class="form-control col-md-7 col-xs-12" type="text" name="e-mail">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">SuppliedType</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control">
                            <option>Choose option</option>
                            <option>Product</option>
                            <option>Service</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group">
                        <label for=brand class="control-label col-md-3 col-sm-3 col-xs-12">Brand</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="e-mail" class="form-control col-md-7 col-xs-12" type="text" name="e-mail">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for=SupPname class="control-label col-md-3 col-sm-3 col-xs-12">Product ID</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="SupPname" class="form-control col-md-7 col-xs-12" type="text" name="SupPname">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for=SupSname class="control-label col-md-3 col-sm-3 col-xs-12">Service Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="SupSname" class="form-control col-md-7 col-xs-12" type="text" name="SupSname">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="company-name" class="control-label col-md-3 col-sm-3 col-xs-12">Company Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="company-name" class="form-control col-md-7 col-xs-12" type="text" name="company-name">
                        </div>
                      </div>
                      <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Address</label>
                       <div class="col-md-6 col-sm-9 col-xs-12">
                         <textarea class="resizable_textarea form-control" placeholder="Company Address"></textarea>
                       </div>
                      </div>
                      <div class="form-group">
                        <label for="company-phone" class="control-label col-md-3 col-sm-3 col-xs-12">Company Phone</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="company-phone" class="form-control col-md-7 col-xs-12" type="text" name="company-phone">
                        </div>
                      </div>
                      
                      
                    
                    
                  
                      <div class="form-group">
                        <label for="added-date" class="control-label col-md-3 col-sm-3 col-xs-12">Added Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="added-date" class="form-control col-md-7 col-xs-12" type="date" name="added-date">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						              <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Add Supplier</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

       
      </div>
    </div>