        <!-- page content -->
        <div class="right_col" role="main">
          <div class="col-md-6" >        
          <h2>Wastage Stocks</h2>
          <form name="wastageStock">
	          <table class="table">
	            <tr>
	              <td><label  for="stockNumber">Stock Number</label></td>
	              <td><input type="text"  [(ngModel)]="stockNumber" name="stockNumber" required="required"></td>
	            </tr>
	            <tr>
	              <td class="col-md-4"><label  for="itemCode">Item Code</label></td>
	              <td><input type="text"  [(ngModel)]="itemCode" name="itemCode" required="required" disabled=""></td>
	            </tr>
	 <!--           <tr>
	              <td><label  for="itemName">Item Name</label></td>
	              <td><input type="text"  [(ngModel)]="itemName" name="itemName" required="required" disabled=""></td>
	            </tr>-->
	               <tr>
	                <td><label for="avQty">Available Qty</label></td>               
	                <td><input type="Number"  [(ngModel)]="avQty" name="avQty" required="required"></td>
	              </tr>
	              <tr>
	                <td><label for="wholeSaleValue">Whole sale value</label></td>
	                <td><input type="text"  [(ngModel)]="wholeSaleValue" name="wholeSaleValue" required="required"></td>
	              </tr>
	              <tr>
					<td><label for="wastageCause">Cause</label></td>
	               <td>
	                <select  [(ngModel)]="causeOfWastage" name="causeOfWastage" name="causeOfWastage">
	                  <option value="Weather_Effects">Weather Effects</option>
	                  <option value="Damaged">Damaged</option> 
	                  <option value="Other">Other(Specify below)</option>
	                </select>
	              </td>
	              </tr>
	            <tr>
	              <td><label  for="causeDesc">Description</label></td>
	              <td><textarea  [(ngModel)]="decription" name="decription"></textarea></td>
	            </tr>
	            </table>
              <div class="form-group">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="button" class="btn btn-success">Save</button>
              </div>
              </form>
            </div>
        </div>
        <!-- /page content -->