 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Employee Management</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>User Accout <small>Add New</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                      <form class="form-horizontal" id="form_members" role="form">
                      <legend>User</legend>
                      <div class="form-group">
                          <label for="username" class="col-sm-2">Username</label>
                          <div class="col-sm-4">
                              <input type="text" class="form-control" name="username" id="username" placeholder="First Name">
                          </div>
                          <label for="role" class="col-sm-2">User Role</label>
                          <div class="col-sm-4">
                              <select class="form-control" name="role" id="role">
                                  <option>Select a User Role</option>
                                  <option>Admin</option>
                                  <option>Cashier</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="col-sm-2">Password</label>
                          <div class="col-sm-4">
                              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                          </div>
                          <label for="vpassword" class="col-sm-2">Verify Password</label>
                          <div class="col-sm-4">
                              <input type="password" class="form-control" name="vpassword" id="vpassword" placeholder="Verify Password">
                          </div>


                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary" name="submit" id="submit">Submit</button>
                              <button type="submit" class="btn btn-dafult" name="submit" id="submit">Clear</button>
                          </div>
                      </div>
                      </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->