<!-- page content -->
<div class="right_col" role="main">

  <h1>Trans-in Stock</h1>
  <form action="" name="addNewStock" data-parsley-validate class="form-horizontal form-label-left" style="width: 100%;">


    <div class="form-group"> 
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="stockNumber">Stock Number</label>
      <input type="text" [(ngModel)]="stockNumber" name="stockNumber" required="required" class=" col-sm-6 " >
    </div>
    <div  class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fromBranch">Branch name</label>
      <input type="text" [(ngModel)]="fromBranch" name="fromBranch" required="required" class=" col-sm-6">
    </div>
    <div  class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fromBranchLoc">Branch Location</label>
      <input type="text" [(ngModel)]="fromBranchLoc" name="fromBranchLoc" class=" col-sm-6">
    </div>
    <div class="form-group"> 
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expiryDate">Recieved date</label>
      <input type="date" [(ngModel)]="recievedDate" name="recievedDate" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemCode">Item Code</label>
      <input type="text" [(ngModel)]="itemCode" name="itemCode" required="required" class="col-sm-6"> 
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemName">Item Name</label>
      <input type="text" [(ngModel)]="itemName" name="itemName" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemDesc">Description</label>
      <textarea class="col-sm-6" [(ngModel)]="description" name="description"></textarea> 
    </div>
    <div class="form-group"> 
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expiryDate">Expiry date</label>
      <input type="date" [(ngModel)]="expiryDate" name="expiryDate" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Qty</label>
      <input type="Number" [(ngModel)]="quantity" name="quantity" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="packSize">Pack Size</label>
      <input type="text" [(ngModel)]="packSize" name="packSize" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wholeSaleValue">Whole sale value</label>
      <input type="text" [(ngModel)]="wholeSaleValue" name="wholeSaleValue" required="required" class="col-sm-6">
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unitPrize">Unit retail value</label>
      <input type="text" [(ngModel)]="unitPrize" name="unitPrize" required="required"  class="col-sm-6">
    </div>
    <div class="form-group">
      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
        <button class="btn btn-primary" type="button">Cancel</button>
        <button class="btn btn-primary" type="reset">Reset</button>
        <a href="../new-grn/new-grn.component.html"><button type="button" class="btn btn-success">Generate GRN</button></a>
        </div>
        </div>
    </form>

  </div>
  <!-- /page content -->