<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="LocalDBCSNoPW" connectionString="data source=data.dat; version=3" providerName="System.Data.SQLite"/>
    <add name="LocalDBCSWithPW" connectionString="data source=data.dat; version=3; password=pass" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>