<!-- page content -->
        <div class="right_col" role="main" >

        <h1>View Available Stocks</h1>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <label class="text-center" for="Search_by">Search By:</label>
            <div id="Search_Type" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="Search_Type" value="item_code"> Item Code
              </label>
              <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="Search_Type" value="stock_number"> Stock Number
              </label>
            </div>
          </div>
        </div>

           <div class="table_schedule" style="">
            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
              <thead>
                <tr>
                 <th> </th>
                 <th>Stock</th>
                 <th>Item code</th>
                 <th>Name</th>
                 <th>Expiry date</th>
                 <th>Initial Qty</th>
                 <th>Present Qty</th>
                 <th>Pack size</th>
                 <th>Wholesale value</th>
                 <th>Unit Price</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
             </tbody>
           </table>
           <div class="col-md-6 col-sm-6 col-xs-12">
              <a href="issueGoods.html"><button class="btn btn-primary">Issue Goods</button></a>
              <a href="transOutStock.html"><button class="btn btn-primary">Transfer Stock</button></a>
              <button id="set_RecountStock" class="btn btn-primary" data-dismiss="modal">Set as Recount Stock</button>
              <a href="deleteStock.html"><button class="btn btn-danger">Delete Stock</button></a>   
            </div>
         </div> 
            </div>
        <!-- /page content -->