<!-- page content -->
<div class="right_col" role="main">
  <h3>Product in Section Search</h3>
  <form class="form-horizontal form-label-left">
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-xs-offset-2">
                <input type="search" id="Search" required="required" class="form-control col-md-7 col-xs-12">
            </div>
            <button type="button" class="btn btn-info">Search</button>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-xs-offset-4" required="required">
              <div id="S_Type" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="S_Type" value="Product_Id"> &nbsp; Product Id  &nbsp;
                </label>
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" value="Product_Name"> &nbsp; Product Name  &nbsp;
                </label>
              </div>
            </div>
        </div>
    </form>
</div>
<!-- page content end -->   