<!-- page content -->
<div class="right_col" role="main">
 
 
  <div class="btn_group" style="float:right;">
    <button class="btn btn-success "><span class="glyphicon glyphicon-save"></span>Save</button>
    <button class="btn btn-warning "><span class="glyphicon glyphicon-save"></span>Edit</button>
    <button class="btn btn-danger "><span class="glyphicon glyphicon-save"></span>Delete</button>
    <button class="btn btn-info "><span class="glyphicon glyphicon-remove"></span>Reset</button>
  </div>
</div>
  