<!-- page content -->
<div class="right_col" role="main">

<h1>Gift Voucher</h1>
<div class="main_button" style="float: right">
  <a href="/giftVouchers/purchased" class="btn btn-warning">Purchased Gift Vouchers</a>
  <a href="/giftVouchers/add" class="btn btn-info ">Add Gift Voucher Amount</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>  
  </thead>

  <tbody>
      <tr>
        <td>Bronze</td>
        <td>500</td>
        <td>
        <button class="btn btn-success"><a href="/giftVouchers/edit"><span class="glyphicon glyphicon-pencil"></span></a></button>
        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </td>   
      </tr>

      <tr>
        <td>Sliver</td>
        <td>1500</td> 
        <td>
          <button class="btn btn-success"><a href="/giftVouchers/edit"><span class="glyphicon glyphicon-pencil"></span></a></button>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </td>    
      </tr>

      <tr>
        <td>Gold</td>
        <td>3000</td>
        <td>
          <button class="btn btn-success"><a href="/giftVouchers/edit"><span class="glyphicon glyphicon-pencil"></span></a></button>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </td>   
      </tr>

  </tbody>
</table>

</div>