<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Loyalty Programs</h3>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">

                    <div class="x_content">


                        <table class="table">
                            <thead>
                                <th>Name</th>
                                <th>Card Type</th>
                                <th>Unit Amount</th>
                                <th>No. Of Customers</th>
                                <th>Points Awarded</th>
                                <th>Total Currency Amount</th>
                                <th>Created On</th>
                                <th></th>
                            </thead>
                            <tr>
                                <td>Loyalty Program 2017</td>
                                <td>Gold</td>
                                <td>100/=</td>
                                <td>126</td>
                                <td>1500</td>
                                <td>160000/=</td>
                                <td>01/01/2017</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-pencil"></span>Edit
                                    </button>

                                    <button type="button" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-trash"></span>

                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->