<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Pre-Orders</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <h2>Make New Order</h2>

                    <div class="x_content">
                        <form>
                            <div class="form-group">
                                <label>Item:</label>
                                <input type="text" class="form-control" id="pitem">
                            </div>
                            <div class="form-group">
                                <label>Quantity:</label>
                                <input type="number" class="form-control" id="pquantity">
                            </div>
                            <div class="form-group">
                                <label>Pick Up Date:</label>
                                <input type="date" class="form-control" id="pdate">
                            </div>
                            <br />
                            <div class="form-group">
                                <label>Total Amount:  1000/=</label>
                            </div>


                            <button type="submit" class="btn btn-default">Order Now</button>
                        </form>
                        <br />
                    </div>
                    <h2>Order List</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Total Amount</th>
                                <th>Ordered Date</th>
                                <th>PickUp Date</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <td>Singer Electric Iron</td>
                                <td>1</td>
                                <td>5000/=</td>
                                <td>01/01/2017</td>
                                <td>05/01/2017</td>
                                <td>
                                    <button type="button" class="btn btn-xs">
                                        Cancel Order
                                    </button>
                                </td>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
