<!-- page content -->
<div class="right_col clearfix" role="main" >
  <div class=" col-md-5" >
    <div class="form_shedule"  style="width: 100%; " > 
    <h1>Promotion Shedule</h1>
  <form action="">
    <div class="form-group">
      <label for="">Item Code:</label>
      <input type="text" class="form-control"  placeholder="Enter your code here" name="code">
    </div>
    <div class="form-group">
      <label for="">Name:</label>
      <input type="text" class="form-control"  name="name">
    </div>
    <div class="form-group">
      <label for="">Promotion Type:</label>
      <select style="height: 35px;width:250px; ">
          <option value="voucher">#1</option>
          <option value="Month">#2</option>
          <option value="Year">#3</option>
          <option value="Year">#4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Special Stock:</label>
      <input type="text" class="form-control"  name="name">
    </div>
    <div class="form-group">
      <label for="">Stock Expire Date:</label>
      <input type="date" class="form-control"  name="stock">
    </div>
    <div class="form-group">
      <label for="">Description:</label>
      <textarea name="des" id="des" ></textarea>
    </div>
    <div class="form-group">
      <label for="">From:</label>
      <input type="date" class="form-control"  name="from">
    </div>
    <div class="form-group">
      <label for="">To:</label>
      <input type="date" class="form-control"  name="to">
    </div>
    
      <div class="btn_group" style="float:right; margin-top: 40px;" >
        <button class="btn btn-success "><span class="glyphicon glyphicon-save"></span>Save</button>
        <button class="btn btn-warning "><span class="glyphicon glyphicon-edit"></span>Edit</button>
        <button class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span>Delete</button>
        <button class="btn btn-info "><span class="glyphicon glyphicon-remove"></span>Reset</button>
      </div>
  </form>
  </div>
</div>
<div class="col-md-offset-5" style=" margin-top:50px;">
  <div class="tabel-responsive" style=" width: 100%;">
    <table class="table">
      <thead>
        <tr>
          <th>Item Code</th>
          <th>Name</th>
          <th>Type</th>
          <th>Special Stocks</th>
          <th>Stock Expire Date</th>
          <th>Description</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <td>001</td>
          <td>2000</td>
          <td>#1</td>
          <td>abc</td>
          <td>12/3/2017</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
          <td>12/3/2017</td>
          <td>22/5/2017</td>
      </tr>
      <tr>
          <td>002</td>
          <td>1000</td>
          <td>#2</td>
          <td>xyz</td>
          <td>12/3/2017</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
          <td>16/4/2017</td>
          <td>15/7/2017</td>
      </tr>
        
      </tbody>
    </table>
  </div>
</div>
</div>