<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
     <ul class="nav side-menu">
       <li><a><i class="fa fa-home"></i>Employee<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Add_Employee.html">Employee</a></li>
           <li><a href="Handle_Employees.html">All Employee</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-home"></i>User Account<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Add_UserAccount.html">User Account</a></li>
           <li><a href="Handle_UserAccounts.html">All User Account</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-home"></i>Branches<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Add_Branch.html">Branch</a></li>
           <li><a href="Handle_Branches.html">All Branches</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-cube"></i> Products <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Add_Products.html">Add Products</a></li>
           <li><a href="View_Products.html">View Produts</a></li>
           <li><a href="Handle_Products.html">Modify / Remove Products</a></li>
           <li><a href="Handle_Category.html">Handle Categories</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-database"></i> Sections <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Handle_ProductsInSections.html">Handle Products in Sections</a></li>
           <li><a href="View_ProductsInSections.html">View Products in Section</a></li>
           <li><a href="Handle_Sections.html">Handle Sections</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Gift Voucher <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="View_Voucher.html">View Gift Voucher</a></li>
           <li><a href="Add_Voucher.html">Add Gift Voucher</a></li>
           <li><a href="Issue_Voucher.html">Issue Gift Voucher</a></li>
           <li><a href="Redeem_Voucher.html">Redeem Gift Voucher</a></li>
           <li><a href="Purchased_GiftVoucher.html">Purchased Gift Vouchers</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-usd"></i> Discount <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Discount_Type.html">Dicount Types</a></li>
           <li><a href="Discount_Shedule.html">Dicount Shedule</a></li>
         </ul>
       </li> 
       <li><a><i class="fa fa-tags"></i>Promotion<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="Promotion_Type.html">Promotion Types</a></li>
           <li><a href="Promotion_Shedule.html">Promotion Shedule</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Manage Supplier <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
             <li><a href="Add_Supplier.html">Add Supplier</a></li>
             <li><a href="Edit_Supplier.html">Edit Supplier</a></li>
             <li><a href="View_Supplier.html">View Supplier</a></li>
             <li><a href="Supplier_Payment.html">Pay Supplier</a></li>
             <li><a href="Checkout_Payment.html">Checkout Payment</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Manage Order <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
             <li><a href="Show_Order.html">Show Order stat</a></li>
             <li><a href="Request_Order.html">Request Order</a></li>
             <li><a href="Edit_Order.html">Edit Order</a></li>
             <li><a href="View_Orders.html">View Orders</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-edit"></i>Stocks<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href= "View_Stock.html">View stocks</a></li>
           <li><a href="Issue_Goods.html">Issue Goods</a></li>
           <li><a href="Add_Stock.html">Add new stocks</a></li>
           <li><a>Transfer Stock<span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a href="TransIn_Stock.html">Trans-in Stock</a></li>
               <li><a href="TransOut_Stock.html">Trans-out Stock</a></li>
             </ul>
           </li>       
           <li><a>Return Stock<span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a href="Return_To_Supplier.html">Returns to Supplier</a></li>
               <li><a href="Return_From_Customer.html">Returns from customer</a></li>
             </ul>
           </li>
             <li><a href="Wastage_Stock.html">Wastage stock</a></li>
             <li><a href="GRN.html">New GRN</a></li>
             <li><a href="Stock_Recountig.html">Stock Recount</a></li>
             <li><a href="Delete_Stock.html">Delete Stocks</a></li>
           </ul>
       </li>
       <li><a><i class="fa fa-edit"></i>Customer<span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
               <li><a href="Add_Customer.html">Registration</a></li>
               <li><a href="Profile.html">Profile</a></li>
               <li><a href="PreOrder.html">Pre-Order</a></li>

           </ul>
       </li>
       <li><a><i class="fa fa-desktop"></i>Manage Loyalty Cards<span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
               <li><a href="Handle_Customer.html">Manage Customers</a></li>
               <li><a href="Add_LoyaltyProgram.html">Create Loyalty Program</a></li>
               <li><a href="Handle_LoyaltyProgram.html">View Loyalty Details</a></li>

           </ul>
       </li>
     </ul>
  </div>
  <div class="menu_section">
    <!--  -->
  </div>

</div>
<!-- /sidebar menu -->