        <!-- page content -->
        <div class="right_col" role="main">

        <h1>Add New Stock</h1>
          <form action="" id="addNewStock" data-parsley-validate class="form-horizontal form-label-left" style="width: 50%;">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="poNum">Purchase Order</label><input type="text" id="poNum" required="required"  class="col-sm-6 ">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplier">Supplier</label><input type="text" id="supplier" required="required" class="col-sm-6" >
            </div>
            <div class="form-group"> 
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="stockNumber">Stock Number</label><input type="text" id="stockNumber" required="required" class=" col-sm-6 " disabled="">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemCode">Item Code</label><input type="text" id="itemCode" required="required" class="col-sm-6"> 
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemName">Item Name</label><input type="text" id="itemName" required="required" class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemDesc">Description</label><textarea class="col-sm-6"></textarea> 
            </div>
            <div class="form-group"> 
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expiryDate">Expiry date</label><input type="date" id="expiryDate" required="required" class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Qty</label><input type="Number" id="quantity" required="required" class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="packSize">Pack Size</label><input type="text" id="packSize" required="required" class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wholeSaleValue">Whole sale value</label><input type="text" id="wholeSaleValue" required="required" class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unitPrice">Unit retail value</label><input type="text" id="unitPrize" required="required"  class="col-sm-6">
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Status">Status</label>
                  <select class="col-md-6" name="causeOfReturn" id="causeOfReturn">
                      <option value="free&available">Free&Availabel-0</option>
                      <option value="QI">QI-1</option>
                      <option value="Recount">Recount-2</option> 
                      <option value="Empty">Empty-3</option>
                  </select>
            </div>
            <div class="form-group">
                          <button class="btn btn-primary" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
        <!-- /page content -->