<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
     <ul class="nav side-menu">
       <li><a><i class="fa fa-home"></i>Employee<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="employee/add">Employee</a></li>
           <li><a href="employee/handle">All Employee</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-home"></i>User Account<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="userAccount/add">User Account</a></li>
           <li><a href="userAccount/handle">All User Account</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-home"></i>Branches<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="branch/add">Branch</a></li>
           <li><a href="branch/handle">All Branches</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-cube"></i> Products <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="products/add">Add Products</a></li>
           <li><a href="products/view">View Produts</a></li>
           <li><a href="products/handle">Modify / Remove Products</a></li>
           <li><a href="products/category">Handle Categories</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-database"></i> Sections <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="sections/products">Handle Products in Sections</a></li>
           <li><a href="sections/view">View Products in Section</a></li>
           <li><a href="sections/handle">Handle Sections</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Gift Voucher <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="giftVouchers/view">View Gift Voucher</a></li>
           <li><a href="giftVouchers/add">Add Gift Voucher</a></li>
           <li><a href="giftVouchers/edit">Edit Gift Voucher</a></li>
           <li><a href="giftVouchers/issue">Issue Gift Voucher</a></li>
           <li><a href="giftVouchers/redeem">Redeem Gift Voucher</a></li>
           <li><a href="giftVouchers/purchased">Purchased Gift Vouchers</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-usd"></i> Discount <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="discount/types">Dicount Types</a></li>
           <li><a href="discount/schedule">Dicount Shedule</a></li>
         </ul>
       </li> 
       <li><a><i class="fa fa-tags"></i>Promotion<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href="promotion/types">Promotion Types</a></li>
           <li><a href="promotion/schedule">Promotion Shedule</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Manage Supplier <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
             <li><a href="supplier/add">Add Supplier</a></li>
             <li><a href="supplier/edit">Edit Supplier</a></li>
             <li><a href="supplier/view">View Supplier</a></li>
             <li><a href="supplier/pay">Pay Supplier</a></li>
             <li><a href="supplier/checkout">Checkout Payment</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-gift"></i> Manage Order <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
             <li><a href="orders/stat">Show Order stat</a></li>
             <li><a href="orders/request">Request Order</a></li>
             <li><a href="orders/edit">Edit Order</a></li>
             <li><a href="orders/view">View Orders</a></li>
         </ul>
       </li>
       <li><a><i class="fa fa-edit"></i>Stocks<span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           <li><a href= "stocks/view">View stocks</a></li>
           <li><a href="stocks/issue">Issue Goods</a></li>
           <li><a href="stocks/add">Add new stocks</a></li>
           <li><a>Transfer Stock<span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a href="stocks/transin">Trans-in Stock</a></li>
               <li><a href="stocks/transout">Trans-out Stock</a></li>
             </ul>
           </li>       
           <li><a>Return Stock<span class="fa fa-chevron-down"></span></a>
             <ul class="nav child_menu">
               <li><a href="stocks/returnToSupplier">Returns to Supplier</a></li>
               <li><a href="stocks/returnFromCustomer">Returns from customer</a></li>
             </ul>
           </li>
             <li><a href="stocks/wastage">Wastage stock</a></li>
             <li><a href="stocks/newgrn">New GRN</a></li>
             <li><a href="stocks/recount">Stock Recount</a></li>
             <li><a href="stocks/delete">Delete Stocks</a></li>
           </ul>
       </li>
       <li><a><i class="fa fa-edit"></i>Customer<span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
               <li><a href="customer/register">Registration</a></li>
               <li><a href="customer/profile">Profile</a></li>
               <li><a href="customer/preorder">Pre-Order</a></li>

           </ul>
       </li>
       <li><a><i class="fa fa-desktop"></i>Manage Loyalty Cards<span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
               <li><a href="loyalty/customers">Manage Customers</a></li>
               <li><a href="loyalty/add">Create Loyalty Program</a></li>
               <li><a href="loyalty/handle">View Loyalty Details</a></li>

           </ul>
       </li>
     </ul>
  </div>
  <div class="menu_section">
    <!--  -->
  </div>

</div>
<!-- /sidebar menu -->