<!-- page content -->
<div class="right_col" role="main">
  <h1>Redeem Gift Voucher</h1> 

  <div class="form-group">
   <label for="">Gift Voucher Code:</label>
   <input type="text" [(ngModel)]="code" class="form-control"  name="code" >
 </div>


 <div class="form-group">
   <label for="">Gift Voucher Amount:</label>
   <input type="text" [(ngModel)]="amount" class="form-control"  name="amount" >
 </div>

 <div class="btn-group" style="float:right;">
  <button class="btn btn-success "><span class="glyphicon glyphicon-save"></span>Redeem</button>
  <button class="btn btn-info "><span class="glyphicon glyphicon-remove"></span>Cancel</button>
 </div>
</div>